@CHARSET "UTF-8";

html {
	height: 100%;
	-webkit-font-smoothing: antialiased;
}
body, .wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: arial;
	font-size:100%;
	font-weight: lighter;
}

sup
{
	font-size:65%;
}
a
{
	text-decoration:none;
}
.wrapper
{
	width:100%;
} 
.wrapper td
{
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.right,
.left
{
	position:absolute;
	background-color:#000;
	top:0;
	bottom:0;
	width:110px;
}


.controls-left,
.controls-right
{
	position:absolute;
	top:0;
	bottom:0;
	width:350px;
}


.center
{
	position:relative;
	display:block;
	width:auto;
	height:100%;
	margin-left:110px;
	margin-right:110px;
}

.center
{
	
}
.controls-right,
.right
{
	right:0;
	border-left:solid 1px rgba(255,255,255,0.3);
}

.controls-left,
.left
{
	left:0;	
	border-right:solid 1px rgba(255,255,255,0.3);
}

.inner
{
	position:relative;
	height:100%;
}

.bottom-rule
{
	background-image: url(../images/bottom-rule.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
}


.left .bottom
{
	position:absolute;
	bottom:65px;	
}

.left ul
{
	
}

.left li
{
	color: white;
	font-weight: normal;
	text-transform: uppercase;
}

.left li, .left li a
{
	color:#ccc;
	padding:0;
	font-size:80%;
}

.left .pane-content
{
	padding:10px 15px;
}


.left .top,
.left .bottom
{
	position:absolute;
	z-index:20;
}

.left .bottom li.translate
{
	margin-top:15px;
}

.logo
{
	width:25px;
	height:inherit;
	margin-bottom:5px;
}

.logo img
{
	width:100%;
}

.control-table .first
{
	padding-left:0;
}

.control-table .last
{
	padding-right:0;
}

.controls
{
	position:absolute;
	z-index:10;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.control-cell .wrapper {
    border-collapse: separate;
    border-spacing: 0;
	background:none;
}

.control-cell-inner
{
	
	border: 1px solid rgba(255, 255, 255, .3);
	border-radius: 8px;
}

.control-prev,
.control-next
{
	background: rgba(255, 255, 255, 0.1);
}

.control-prev
{
	border-radius: 0 8px 8px 0;
	border-left:0px;
}

.control-next
{
	border-radius: 8px 0 0 8px;
	border-right:0px;
}

.control-content
{
	background: rgba(0,0,0, .8);
}

.controls td.control-cell
{
	height: 140px;
	text-align: center;
}

.control-table
{
	margin-top: 75px;
	width:100%;
}

.control-cell
{
	padding: 0 10px;
	width:30%;
}

.control-table .first,
control-table .last
{
	width:20%;
}

.control-prev .control-button
{
	background-image: url(../images/controller-prev.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.control-next .control-button
{
	background-image: url(../images/controller-next.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.control-prev .control-button,
.control-next .control-button
{
	display: block;
    height: 100%;
    width: auto;
}

.control-prev .control-button span,
.control-next .control-button span
{
	display:none;
}

.control-content-inner
{
	padding:0 15px;
}

.control-title
{
	display:none;
}

.heading,
.subheading
{
	text-align:left;
	display:block;
}

.heading
{
	color: white;
	font-size: 150%;
	line-height: 90%;
	padding-bottom: 15px;
}

.subheading
{
	font-size:90%;
	line-height:120%;
}

.wrapper .bottom-controls
{
	height:60px;
}

.wrapper .bottom-spotlights
{
	height:35%;
}

.bottom-spotlights-inner
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.wrapper .top-spotlights
{
	height:65%;
    vertical-align: bottom;
}

.bottom-controls
{
	text-align:center;
	margin: 0 auto;
}

.bottom-controls div
{
	float:right;
    position:relative;
    left:-50%;
    text-align:left;

	
}

.bottom-controls ul
{
	list-style:none;
    position:relative;
    left:50%;
}
.bottom-controls li
{
	width: 90px;
    min-height: 50px;
    border-left: 1px solid rgba(153,153,153, .7);
	border-right: 1px solid rgba(153,153,153, .7);
	border-top: 1px solid rgba(153,153,153, .7);

	float: left;
	
    vertical-align: bottom;
    text-align:center;
    zoom: 1;
    *display: inline;
    _height: 50px;
	margin-top:10px;
	margin-left:2px;
	margin-right:2px;
	background-color:#000;
	border-radius: 8px 8px 0 0;
	font-size:75%;
	color:#fff;
}

.bottom-controls li a
{
	display: block;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: center;
}

.bottom-controls li,
.bottom-controls li a
{
	color:#fff;
	font-weight:normal;
	
}



.bottom-controls li.active
{
	min-height: 60px;
	_height: 60px;
	margin-top:0;
}

.bottom-controls li.active a
{
	color:#000;
}

.social-media
{
	float: left;
    margin-bottom: 5px;
}

.social-media ul
{
	
}

.clear{ clear:both; }

.social-media li
{
	float:left;
	width:15px;
	display:block;
	padding-right:3px;
}
.social-media li img
{
	width:100%;
}

.copyright
{
	position:absolute;
	bottom:10px;
	left:15px;
	color:#666;
	font-weight:normal;
	font-size:75%;
}

.search
{
	margin-top:10px;
}
.search input
{
	background-color: #6F6E71;
    border-radius: 3px;
	border: 1px solid rgba(255,255,255,.5);
    color: #FFFFFF;
    padding:2px 4px;
	width:70px;
	font-weight:normal;
	font-size:80%;
}


.bg-images { position: fixed; top: 0; left: 0; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

    