@CHARSET "UTF-8";

.table
{
	position:relative;
	display:table;
	height:100%;	
	width:100%;
}

.table-row
{
	display:table-row;
}

.table-cell .table-cell
{
	position:relative;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}