@CHARSET "UTF-8";

.table
{
	background:#ffcc00;	
}

.top-spotlights-inner {
	background:lightblue;
}

.bottom-spotlights {
	background:red;
}

.top-controls
{
	background:orange;
}

.bottom-controls
{
	background:blue;
}

.control-table
{
	/* background:red; */
}

.spotlights
{
	border:2px solid #fff;
}

.spotlight
{
	border:2px solid #fc0;
	background:#ccc;
}
