@CHARSET "UTF-8";

.table
{
	background:#ffcc00;	
}

.top-spotlights {
	background:grey;
}

.bottom-spotlights {
	background:red;
}

.top-controls
{
	background:orange;
}

.bottom-controls
{
	background:blue;
}

.control-table
{
	/* background:red; */
}